<%= tag.pc_box id: dom_id(box),
               class: "box pc-box is-draggable",
               style: "left: #{box.x}px; top: #{box.y}px",
               data: { draggable: true,
                       controller: "box",
                       x: box.x,
                       y: box.y,
                       box_target: "box",
                       box: box.sgid } do %>

  <% cache box.inlets do %>
    <%= tag.pc_inlets class: "pc-inlets" do %>
      <% box.inlets.each do |inlet| %>
        <%= tag.pc_inlet id: dom_id(inlet),
                         class: "pc-inlet pc-control",
                         data: { inlet: inlet.sgid,
                                 lines_target: "destination" } do %>
          <%= icon :circle, class: "is-small mr-1 is-draggable" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= component interface_component_name, box: box %>

  <p>
    <%= box.id %>
  </p>

  <%= tag.button class: "delete is-small is-danger is-pulled-right",
                 data: { reflex: "click->Box#destroy",
                         reflex_dataset: "combined" } %>

  <% cache box.outlets do %>
    <%= tag.pc_outlets class: "pc-outlets" do %>

      <% box.outlets.each do |outlet| %>
        <%= tag.pc_outlet id: dom_id(outlet),
                          class: "pc-outlet pc-control",
                          data: { outlet: outlet.sgid,
                                  lines_target: "source" } do %>
          <%= icon :circle, class: "is-small is-draggable" %>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
<% end %>
