<%= tag.pc_box id: dom_id(box),
               class: "box pc-box is-draggable",
               style: "left: #{box.x}px; top: #{box.y}px",
               data: { controller: "box move",
                       x: box.x,
                       y: box.y,
                       box_target: "box",
                       move_moving_class: "drag--is-dragging",
                       move_canvas_id_value: dom_id(box.patch),
                       action: token_list("mousedown->move#start",
                                          "mouseup->move#stop"),
                       box: box.sgid } do %>

  <%= tag.ul class: "pc-inlets" do %>
    <% box.inlets.each do |inlet| %>
      <%= tag.li id: dom_id(inlet),
                 class: "pc-inlet pc-control is-draggable is-inline-block has-z-index-control",
                 data: { inlet: inlet.sgid,
                         action: token_list("mousedown->endpoints#startLink",
                                            "mouseup->endpoints#link"),
                         endpoints_target: "destination",
                         lines_target: "destination" } do %>
        <%= icon_raw_tag :circle, css_class: "is-small" %>
      <% end %>
    <% end %>
  <% end %>

  <%= component interface_component_name, box: box %>

  <p>
    <%= box.id %>
  </p>

  <%= tag.button class: "delete is-small is-danger is-pulled-right",
                 data: { reflex: "click->Box#destroy",
                         reflex_dataset: "combined" } %>

  <%= tag.ul class: "pc-outlets" do %>
    <% box.outlets.each do |outlet| %>
      <%= tag.li id: dom_id(outlet),
                 class: "pc-outlet pc-control is-draggable is-inline-block has-z-index-control",
                 data: { action: token_list("mousedown->endpoints#startLink",
                                            "mouseup->endpoints#link"),
                         outlet: outlet.sgid,
                         endpoints_target: "source",
                         lines_target: "source" } do %>
        <%= icon_raw_tag :circle, css_class: "is-small" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
