<%= tag.pc_box id: dom_id(box),
               class: "box pc-box is-draggable",
               style: "left: #{box.x}px; top: #{box.y}px",
               data: { draggable: true,
                       controller: "box",
                       x: box.x,
                       y: box.y,
                       box_target: "box",
                       box: box.sgid } do %>

  <%= tag.pc_inlets class: "pc-inlets" do %>
    <% box.inlets.each do |inlet| %>

        <%= tag.pc_inlet id: dom_id(inlet) do %>
          <%= icon :circle, class: "is-small mr-1 is-draggable" %>
        <% end %>

    <% end %>
  <% end %>

  <%= component interface_component_name, box: box %>

  <p>
    <%= box.id %>
  </p>

  <%= tag.button class: "delete is-small is-danger is-pulled-right",
                 data: { reflex: "click->Box#destroy",
                         reflex_dataset: "combined" } %>

  <%= tag.pc_outlets class: "pc-outlets" do %>
    <% box.outlets.each do |outlet| %>

      <%= tag.pc_outlet id: dom_id(outlet) do %>
        <%= icon :circle, class: "is-small is-draggable" %>
      <% end %>

    <% end %>
  <% end %>
<% end %>
