<%= tag.fieldset class: "menu is-clipped is-w-min-content has-background-light" do %>
  <ul class="menu-list">

    <li>
      <button
        id="popover-main-menu-trigger"
        class="button"
        aria-describedby="popover-main-menu-trigger"
        data-controller="popover"
        data-action="popover#show"
        data-popover-template="template-patch-main-menu"
      >
        <%= icon_tag :hamburger, class: "is-small" %>
      </button>
    </li>

    <li>
      <button id="<%= dom_class(patch.boxes, :create) %>"
              class="button"
              data-controller="box"
              data-reflex="click->Box#create_blank"
              data-patch-id="<%= patch.id %>">
        <%= icon_tag :plus, class: "is-small" %>
      </button>
    </li>

    <li>
      <button id=""
              class="button">
        <span class="icon is-small">
          <%= icon_tag :italic, class: "is-small" %>
        </span>
      </button>
    </li>

    <li>
      <button class="button">
        <span class="icon is-small">
          <%= icon_tag :underline, class: "is-small" %>
        </span>
      </button>
    </li>

  </ul>
<% end %>
