<%= tag.fieldset class: "menu is-clipped is-w-min-content has-background-light" do %>
  <template id="template-patch-main-menu">
    <nav class="panel is-info has-background-light">
      <h3 class="panel-heading">
        Main Menu
      </h3>
      <%= link_to "#", class: "panel-block" do %>
        <%= icon_tag :unknown, class: "panel-icon" %>
        Hello, world!
      <% end %>
    </nav>
  </template>

  <ul class="menu-list">

    <li>
      <button
        id="popover-main-menu-trigger"
        class="button"
        aria-describedby="popover-main-menu-trigger"
        data-controller="popover"
        data-action="popover#show"
        data-popover-template="template-patch-main-menu"
      >
        <%= icon_tag :hamburger, class: "is-small" %>
      </button>
    </li>

    <li>
      <button id="<%= dom_class(patch.boxes, :create) %>"
              class="button"
              data-controller="box"
              data-reflex="click->Box#create"
              data-patch-id="<%= patch.id %>">
        <%= icon_tag :plus, class: "is-small" %>
      </button>
    </li>

    <li>
      <button id=""
              class="button">
        <span class="icon is-small">
          <%= icon_tag :italic, class: "is-small" %>
        </span>
      </button>
    </li>

    <li>
      <button class="button">
        <span class="icon is-small">
          <%= icon_tag :underline, class: "is-small" %>
        </span>
      </button>
    </li>

  </ul>
<% end %>
