<%= tag.pc_patch_canvas id: dom_id(patch),
                        class: "pc-patch-canvas has-background-grey p-4" do %>
  <%= tag.pc_boxes id: "boxes",
                   data: { controller: "box" } do %>
    <p>
      <%= patch.boxes.count %>
    </p>

    <%= component_with_collection "box", cache: patch.boxes, collection: patch.boxes %>

  <% end %>

    <% patch.boxes.each do |box| %>
      <% box.destination_lines.each do |line| %>

        <%= tag.svg id: dom_id(line),
                    class: "pc-line-container",
                    data: { controller: "line",
                            action: "",
                            class: "pc-line-svg",
                            line_source_id_value: dom_id(line.source),
                            line_destination_id_value: dom_id(line.destination) } do %>


          <%= tag.line class: "pc-line",
                       x1: box.x,
                       y1: box.y,
                       x2: line.destination.box.x,
                       y2: line.destination.box.y,
                       data: { line_target: "line" } %>
        <% end %>
      <% end %>
    <% end %>

<% end %>
