<%= content_for :header_class do %>
  is-large
<% end %>

<%= content_for :header_body do %>
  <%= component :neon_sign do %>
    <%= t(".title") %>
  <% end %>
<% end %>

<section class="section">
  <pc-container class="container has-text-centered">
    <% @patches.each do |patch| %>
    <ul>
      <li>
        <%= link_to patch.name, patch_path(patch.id) %>
      </li>
    </ul>
    <% end %>
  </pc-container>
</section>
