
<%# tag.pc_button id: "start-audio", data: { controller: "nexus" } %>
<%# tag.div id: "sine", data: { controller: "sine" } %>

<header class="hero has-text-centered">
  <pc-hero-body class="hero-body">
    <h1 class="title is-3">Patch View</h1>
    <h2 class="subtitle is-5"><%= @patch.name %></h2>
  </pc-hero-body>
</header>

<%= tag.svg id="mySVG", data: { controller: "line",
                                action: "",
                                class: "pc-line-svg",
                                line_source_id_value: "box0",
                                line_destination_id_value: "box3" } do %>
  <%= tag.line id: "myLine",
               class: "pc-line",
               data: { line_target: "line" } %>
<% end %>

<section class="section">
  <pc-container class="container">

    <button id="box_creator"
            class="button"
            data-reflex="click->Box#create"
            data-patch-id="<%= @patch.id %>">
      Create box
    </button>

    <%= render "patches/canvas", patch: @patch %>

 </pc-container>
</section>
