<%# tag.pc_button id: "start-audio", data: { controller: "nexus" } %>
<%# tag.div id: "sine", data: { controller: "sine" } %>

<header class="hero has-text-centered">
  <pc-hero-body class="hero-body">
    <h1 class="title is-3">Patch View</h1>
    <h2 class="subtitle is-5"><%= @patch.name %></h2>
  </pc-hero-body>
</header>

<%= tag.svg id="mySVG", data: { controller: "line",
                                action: "",
                                class: "pc-line-svg",
                                line_source_id_value: "box0",
                                line_destination_id_value: "box3" } do %>
  <%= tag.line id: "myLine",
               class: "pc-line",
               data: { line_target: "line" } %>
<% end %>

<section class="section">
  <pc-container class="container">

    <button id="<%= dom_class(@patch, :create) %>"
            class="button"
            data-reflex="click->Box#create"
            data-patch-id="<%= @patch.id %>">
      Create box
    </button>

    <%= tag.pc_patch id: dom_id(@patch),
                      class: "pc-patch drag--droppable",
                      data: { controller: "drag audio-context",
                              drag_target: "droppable",
                              drag_draggable_offset_value: { x: 0, y: 0 },
                              drag_canvas_offset_value: { x: 0, y: 0 },
                              drag_is_dragging_class: "drag--is-dragging",
                              drag_droppable_class: "drag--droppable",
                              drag_draggable_class: "drag--draggable",
                              action: token_list("mousedown->drag#start",
                                                 "mousemove->drag#drag",
                                                 "mouseup->drag#drop",
                                                 "click->audio-context#start:once") } do %>
      <%= render @patch %>
    <% end %>

 </pc-container>
</section>
