
<%# tag.pc_button id: "start-audio", data: { controller: "nexus" } %>
<%# tag.div id: "sine", data: { controller: "sine" } %>

<header class="hero has-text-centered">
  <pc-hero-body class="hero-body">
    <h1 class="title is-3">Patch View</h1>
    <h2 class="subtitle is-5"><%= @patch.name %></h2>
  </pc-hero-body>
</header>

<section class="section">
  <%= tag.pc_canvas id: "pc-canvas",
                    class: "container pc-canvas",
                    data: { controller: "drag audio-context",
                            action: token_list("mousedown->drag#start",
                                               "mousemove->drag#drag",
                                               "mouseup->drag#drop",
                                               "click->audio-context#start:once") } do %>
    <%= tag.svg id="mySVG", data: { controller: "line",
                                    action: "",
                                    class: "pc-line-svg",
                                    source_id: "box0",
                                    destination_id: "box3" } do %>
      <%= tag.line id: "myLine",
                   class: "pc-line",
                   data: { line_target: "line" } %>
    <% end %>

    <% (0..9).each do |i| %>
      <%= tag.pc_box id: "box#{i}",
                  class: "box",
                  style: "height: 32px; width: 32px",
                  data: { draggable: true } do %>
        <%= tag.pc_interface id: "interface#{i}", data: { controller: "sine" } %>
      <% end %>
    <% end %>
  <% end %>
</section>
