<svg id="mySVG">
  <line id="myLine" />
</svg>

<%= tag.div id: "patch_cable_demo", data: { controller: "patch-cable" } %>

<header class="hero has-text-centered">
  <ui-hero-body class="hero-body">
    <h1 class="title is-3">Patch View</h1>
    <h2 class="subtitle is-5"><%= @patch.name %></h2>
  </ui-hero-body>
</header>

<section class="section">
  <container class="container">
    <%= tag.ui_button id: "start-audio", data: { controller: "nexus" } %>

    <div class="tile is-ancestor">
      <%= tile_column do %>
        <%= tile_child do %>
          <div id="toggle"></div>
          <%= tag.div id: "source" %>
        <% end %>
        <%= tile_child do %>
          <div id="number"></div>
        <% end %>
        <%= tile_child do %>
          <div id="gain"></div>
        <% end %>
        <%= tile_child do %>
          <%# tag.div data: { controller: "box" } %>
          <%= tag.div id: "sine", data: { controller: "sine" } %>
        <% end %>
      <% end %>

      <%= tile_column do %>
        <%= tile_child do %>
          <%= tag.ui_number id: "box100", data: { controller: "nexus" } %>
        <% end %>
        <%= tile_child do %>
          <%= tag.ui_number id: "box101", data: { controller: "nexus" } %>
        <% end %>
        <%= tile_child do %>
          <%= tag.ui_slider id: "box102", data: { controller: "nexus" } %>
        <% end %>
        <%= tile_child do %>
          <p id="destination">DESTINATION</p>
        <% end %>
      <% end %>

      <%= tile_column do %>
        <%= tile_child do %>
        <%= tag.ui_number id: "box200", data: { controller: "nexus" } %>
        <% end %>
        <%= tile_child do %>
        <% end %>
        <%= tile_child do %>
        <%= tag.ui_slider id: "box202", data: { controller: "nexus" } %>
        <% end %>
        <%= tile_child do %>
        <% end %>
      <% end %>

      <%= tile_column do %>
        <%= tile_child do %>
        <% end %>
        <%= tile_child do %>
        <% end %>
        <%= tile_child do %>
        <% end %>
        <%= tile_child do %>
        <% end %>
      <% end %>
    </div>

    <%# tag.ui_slider id: "slider0", data: { controller: "nexus" } %>
    <%# tag.ui_slider id: "slider1", data: { controller: "nexus" } %>
    <%# tag.ui_text_button id: "button0", data: { controller: "nexus",
           nexus_text_value: "Hello, world!" } %>
  </container>
</section>
