<%= content_for :header_class do %>
  is-hidden
<% end %>

<%# cache @patch do %>
  <%= tag.section id: dom_class(@patch, :container),
                  class: "pc-patch drag--droppable is-flex",
                  data: { controller: "audio-context lines",
                          reflex_root: dom_class(@patch, :container),
                          move_target: "droppable",
                          move_movable_offset_value: { x: 0, y: 0 },
                          move_canvas_offset_value: { x: 0, y: 0 },
                          move_is_moving_class: "drag--is-dragging",
                          move_droppable_class: "drag--droppable",
                          move_movable_class: "drag--draggable",
                          action: token_list("mousedown->move#start",
                                             "mousemove->move#move",
                                             "mouseup->move#drop",
                                             "click->audio-context#start:once") } do %>

    <%= component "controls/main", patch: @patch do |c| %>
      <%= c.menu_list do %>
        Hello???
      <% end %>

      <%= c.controls([
        { icon: :hamburger, id: "popover-main-menu-trigger",
                            aria: { describedby: "popover-main-menu-trigger" },
                            data: { controller: "popover",
                                    action: "popover#show",
                                    popover_template: "template-patch-main-menu" } },
        { icon: :plus, id: dom_class(@patch.boxes, :create),
                       data: { controller: "box",
                               reflex: "click->Box#create_blank",
                               patch_id: @patch.id } },
        { icon: :blank },
        { icon: :blank }
      ]) %>
    <% end %>

    <%= render @patch, cached: true %>
  <% end %>
<%# end %>

<section id="templates">
  <%= render "shared/menus/line_menu" %>
  <%= render "shared/menus/patch_main_menu" %>
</section>
