<h1 class="title">Patch View</h1>
<h2><%= @patch.name %></h2>

<%= tag.dial id: "dial", data: { controller: "nexus" } %>
<%= tag.dial id: "dial", data: { controller: "nexus" } %>
<%= tag.dial id: "dial", data: { controller: "nexus" } %>
<%= tag.dial id: "dial", data: { controller: "nexus" } %>
