<!DOCTYPE html>
<html>
  <head>
    <title>PatchCable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <pc-hero class="hero is-fullheight-with-navbar is-dark">

      <pc-hero-header class="hero-header">
        <%= render "layouts/navbar" %>
      </pc-hero-header>

      <pc-hero-body class="hero-body">
        <pc-container class="container">
          <%= yield %>
        </pc-container>
      </pc-hero-body>

      <pc-hero-footer class="hero-footer">
        <%= yield :footer %>
      </pc-hero-footer>

    </pc-hero>
  </body>
</html>
