<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PatchCable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/bb25db85d8.js" crossorigin="anonymous"></script>
  </head>

  <body data-controller="radiolabel application tippy"
        data-application-is-waiting-class="is-waiting">

    <header id="header" class="<%= header_class %>">
      <header class="hero-head">
        <%= render "shared/navbar", cached: true %>
      </header>

      <main class="hero-body">
        <pc-container class="container">
          <%= yield :header_body %>
        </pc-container>
      </main>

      <footer class="hero-foot">
      </footer>
    </header>

    <main id="main" class="">
      <pc-container class="container">
        <%= yield %>
      </pc-container>
    </main>

    <footer id="footer" class="footer">
      <%= render "shared/footer", cached: true %>
    </footer>
  </body>
</html>
